# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Exec Files
tipoChar
tipoFloat
tipoInt
Aula-10_10/exercicio_01
Aula-10_10/exercicio_02
Aula-10_10/exercicio_03
Aula-10_10/exercicio_04
Aula-10_10/exercicio_05
Aula-10_10/exercicio_06
Aula-10_10/exercicio_07
